    <div class="totalpage">
    <div class="row print-container">


    <table style="width:70%" class="table table-bordered table-dark">
    <tr>
        <th>Claim Date</th>
        <td>{{claimDate}}</td>
    </tr>
    <tr>
        <th>Claim Number</th>
        <td>{{claimId}}</td>
    </tr>
    <tr>
        <th>Account Number</th>
        <td>{{accountNumber}}</td>
    </tr>
    <tr>
        <th>Claim Amount</th>
        <td>{{claimAmount}}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{status}}</td>
    </tr>
    <tr>
        <th colspan="2"><button onclick="window.print();" class="btn-primary" type=text>Print</button></th>
    </tr>
    </table>
    </div>
        
    </div>

