
<div class="jumbotron">
    <div class="row">
        <div class="col-md-10 mx-auto">
            
                <h4 style="text-align: center;"><u>Step 2</u></h4>
<form (ngSubmit)="proceedSecond()"  #addressForm="ngForm">    
    <div class="form-group row">
        <div class="col-sm-6">
        <label for="vehicleimage"><b>Upload Vehicle Image</b></label>
        <input class="form-control" name="vehicleimage" style="height: 50px;" type="file"
        [(ngModel)]=vehicleimage (change)="onFileSelected($event)" required>
   
    </div>
    
    <div class="col-sm-6">    
            <label for="FIRfile"><b>Upload FIR</b></label>
            <input class="form-control input-lg" style="height: 50px;"  type="file" (change)="onFileSelected($event)">  
    </div>
    </div>
    <div class="clearfix"></div>

    <div class="form-group row">
        <div class='col-sm-6'>
            <label for="firstname"><strong>First Name</strong></label>
            <input class="form-control" name="firstname" [(ngModel)]=firstname1
            required pattern="[A-Za-z]{3,}" placeholder="Enter Your First Name" #firstname='ngModel'>
            <span *ngIf="firstname.touched && firstname.invalid" class="alert-danger">Invalid Name</span>
        </div>
        <div class="col-sm-6">
            <label for="lastname"><b>Last name</b></label>
            <input  class="form-control" [(ngModel)]=lastname1 name="lastname"
            required pattern="[A-Za-z]{3,}" placeholder="Last Name" #lastname='ngModel'>
            <span *ngIf="lastname.touched && lastname.invalid" class="alert-danger">Invalid Last Name</span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="inputAddressLine1"><b>Address</b></label>
            <input type="text" class="form-control" [(ngModel)]=street1 name="inputAddressLine1"
            placeholder="Street Address"   required pattern="[A-Za-z ,0-9-/]{5,}" #street='ngModel' >
            <span *ngIf="street.touched && street.invalid" class="alert-danger">Invalid Street Name</span>
        </div>
        <div class="col-sm-6">
            <label for="inputAddressLine2"><b>Address (Line 2)</b></label>
            <input type="text" class="form-control"  [(ngModel)]=landmark1 name="inputAddressLine2"
            placeholder="Landmark" pattern="[A-Za-z ,0-9-/]{5,}" #landmark='ngModel'>
            <span *ngIf="landmark.touched && landmark.invalid" class="alert-danger">Invalid Landmark</span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="inputCity"><b>City</b></label>
            <input type="text" class="form-control" name="inputCity" 
            [(ngModel)]=city1 placeholder="City" required pattern="[A-Za-z]{4,}" #city='ngModel'>
            <span *ngIf="city.touched && city.invalid" class="alert-danger">Invalid City</span>
        </div>
        <div class="col-sm-3">
            <label for="inputState"><b>State</b></label>
            <select name="state" id="state" class="form-control" name="inputState" required  [(ngModel)]=state1 #sta="ngModel">
                <option [value]="EnterState" selected disabled>Enter State</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi">Delhi</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Puducherry">Puducherry</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
                </select>
                <span *ngIf="sta.touched && sta.invalid" class="alert-danger">Invalid State</span>
        </div>
        <div class="col-sm-3">
            <label for="inputPostalCode"><b>Postal Code</b></label>
            <input type="text" class="form-control" name="inputPostalCode"
            [(ngModel)]=postalcode1 placeholder="Postal Code" required pattern="[0-9]{6}" #postalcode='ngModel'>
            <span *ngIf="postalcode.touched && postalcode.invalid" class="alert-danger">Invalid Postal Code</span>  
        </div>
    </div>
    <div class="col-md-12 text-center" style="padding-top: 18px;">
    <button class="btn btn-primary btn-block btn-success" type="submit" [disabled]="!addressForm.valid" >Proceed Next</button>
</div>
</form>
</div>
</div>
</div>