
    <body class="sb-nav-fixed" >
      <div id="layoutSidenav_content">
          <main>
              <div class="container-fluid" 
              style="background-image: url(../../assets/images/bg-02.jpg);">
                  <h1 class="mt-4" style="padding: 10px;">User Dashboard</h1>
                  <ol class="breadcrumb mb-4">
                      <li class="breadcrumb-item active">
                        <p class="lead">Welcome to  your profile, <b>{{ name }}</b></p>
                      </li>
                  </ol>
                <table class="table table-stripped table-primary" style="width: 60%;margin-left: 20%;">
                  <thead>
                    <tr>
                      <th>Policy No.</th>
                      <th>Vehicle Registration No.</th>
                      <th>Vehicle Model</th>
                      <th>Expiry Date</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pol of policies">
                      <td>{{pol.policyNo}}</td>
                      <td>{{pol.vehicle.regNo}}</td>
                      <td>{{pol.vehicle.manufacturer}} {{pol.vehicle.model}}</td>
                      <td>{{pol.expDate}}</td>
                    </tr>
                  </tbody>
                </table>

                <button type="button" class="btn btn-primary" (click)="back()"
                style="margin-left: 45%;margin-bottom: 2%;">Back to Profile</button>
              </div>
          </main>
        </div>
      </body>



