
<div class="bg-contact3" style="background-image: url('../../assets/images/bg-02.jpg');">

  <div class="header">
      <h1>Welcome to Your Profile</h1>    
  </div>
  
  
  <div class="userBox"> 
      <label for="username"><b>Please give Username here:</b></label>
      &nbsp; 
      <input  type="text" placeholder="username" name="username" 
      [(ngModel)]=username required pattern="[A-Za-z0-9]{4,8}">  
  </div>
  
  
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" (click)="searchName()" 
  data-toggle="modal" data-target="#exampleModal" 
  style="margin-left: 50%; margin-top: 5%; margin-bottom: 5%;">
      View Details
    </button>
  
  </div>
   
    <!-- Modal -->
    
  
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-image: url('../../assets/images/bg-03.jpg');">
          <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLabel" 
            style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Your Policy</h1>
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              
                  <table class="table table-dark table stripped">
                    <thead></thead>
                      <tbody *ngFor="let pol of policies">
                              <tr>
                                  <td>Policy number</td>
                                  <td>{{pol.policyNo}}</td>
                              </tr>
      
                              <tr>
                                  <td>Vehicle Registration No.</td>
                                  <td>{{pol.vehicle.regNo}}</td>
                              </tr>
              
                              <tr>
                                  <td>Expiry Date</td>
                                  <td>{{pol.expDate}}</td>
                              </tr>
                      </tbody>
                  </table>
                
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>    