<div class="about-section">
  <p>Vehisure is a vehicle insurance company created in 2020 by 4 enthusiasts. It is and IRDA approved insurance portal helping consumers choose and buy policies online.
    It is a highly reputable organization providing trustworthy advice to millions of people every year.
  </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="columnimg">
    <div class="cardimg">
      <img src="../../assets/team1.png" alt="Jane" style="width:100%">
      <div class="containerimg">
        <h2>Parnab Das</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>parnab@VehiSure.com</p>
      </div>
    </div>
  </div>

  <div class="columnimg">
    <div class="cardimg">
      <img src="../../assets/team1.png" alt="Mike" style="width:100%">
      <div class="containerimg">
        <h2>Seemala Saiteja</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>seemala@VehiSure.com</p>
      </div>
    </div>
  </div>
  
  <div class="columnimg">
    <div class="cardimg">
      <img src="../../assets/team1.png" alt="John" style="width:100%">
      <div class="containerimg">
        <h2>Shilpi Kundu</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>shilpi@VehiSure.com</p>
      </div>
    </div>
  </div>
  <div class="columnimg">
      <div class="cardimg">
        <img src="../../assets/team1.png" alt="John" style="width:100%">
        <div class="containerimg">
          <h2>Priyam Mishra</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>priyam@VehiSure.com</p>
        </div>
      </div>
    </div>
</div>

