<div class="about-section">
  <p>InsureIT is a vehicle insurance company created in 2015 by 4 enthusiasts</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="columnimg">
    <div class="cardimg">
      <img src="../../assets/team1.png" alt="Jane" style="width:100%">
      <div class="containerimg">
        <p>Parnab Das</p>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
      </div>
    </div>
  </div>

  <div class="columnimg">
    <div class="cardimg">
      <img src="../../assets/team1.png" alt="Mike" style="width:100%">
      <div class="containerimg">
        <p>Seemala Saiteja</p>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
      </div>
    </div>
  </div>
  
  <div class="columnimg">
    <div class="cardimg">
      <img src="../../assets/team1.png" alt="John" style="width:100%">
      <div class="containerimg">
        <p>Shilpi Kundu</p>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
      </div>
    </div>
  </div>
  <div class="columnimg">
      <div class="cardimg">
        <img src="../../assets/team1.png" alt="John" style="width:100%">
        <div class="containerimg">
          <p>Priyam Mishra</p>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
        </div>
      </div>
    </div>
</div>
