.header{
    text-align :center;
    padding: 10px;
    font-size: 20px;
    background-color:#3279a8 ;
    margin:10px 100px 0px 100px;
}
.planBox{
    margin-left: 30%;
    margin-top: 3%;
    font-size: 20px;
}
.termBox{
    margin-left: 30%;
    margin-top: 3%;
    font-size: 20px;
}
.pl{
    padding: 2%;
    font-style: italic;
}