<h3>Claim Insurance</h3>
<div class="jumbotron" style="background-color:#707B7C">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h4 style="text-align: center;"><u>Step 3</u></h4>

		<form [formGroup]="bankDetailsForm" (ngSubmit)="submitClaim()">
			<div class="form-group">
				<label><b>Claim Amount</b></label>
				<input class="form-control" formControlName="claimamount" type="text"
				[(ngModel)]=bank.claimamount  />
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.claimamount">
					<div class="error-message" *ngIf="bankDetailsForm.get('claimamount').hasError(error.type) && (bankDetailsForm.get('claimamount').dirty || bankDetailsForm.get('claimamount').touched)">
						{{ error.message }}
					</div>
				</ng-container>
            </div>
            <div class="form-group">
				<label><b>Account Number</b></label>
				<input class="form-control" formControlName="accountno" type="password"
				[(ngModel)]=bank.accountno  />
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.accountno">
					<div class="error-message" *ngIf="bankDetailsForm.get('accountno').hasError(error.type) && (bankDetailsForm.get('accountno').dirty || bankDetailsForm.get('accountno').touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>

			<div class="form-group">
				<label><b>Confirm Account Number</b></label>
				<input class="form-control" formControlName="confirmaccountno" type="password"
				[(ngModel)]=bank.confirmaccountno />
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.confirmaccountno">
					<div class="error-message" *ngIf="bankDetailsForm.get('confirmaccountno').hasError(error.type) && (bankDetailsForm.get('confirmaccountno').dirty || bankDetailsForm.get('confirmaccountno').touched)">
						{{ error.message }}
					</div>
				</ng-container>
            </div>
            
            <div class="form-group">
				<label><b>Holder Name</b></label>
				<input class="form-control" formControlName="holdername" type="text" 
				[(ngModel)]=bank.holdername/>
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.holdername">
					<div class="error-message" *ngIf="bankDetailsForm.get('holdername').hasError(error.type) && 
    (bankDetailsForm.get('holdername').dirty || bankDetailsForm.get('holdername').touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>

			<div class="form-group">
				<label><b>IFSC Code</b></label>
				<input class="form-control" formControlName="IFSCcode" type="text" 
				[(ngModel)]=bank.IFSCcode/>
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.IFSCcode">
					<div class="error-message" *ngIf="bankDetailsForm.get('IFSCcode').hasError(error.type) && (bankDetailsForm.get('IFSCcode').dirty || bankDetailsForm.get('IFSCcode').touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>

			<button class="form-control btn btn-primary" [disabled]="!bankDetailsForm.valid">Submit</button>
		</form>
	</div>
</div>
</div>
</div>