  p {
      font-family: Lato;
    }
    .error-message {
      color: red;
    }
    input.ng-touched.ng-invalid {
      border: 1px solid red;
    }
    .sai
    {
        background-image: url('src/assets/images2/accident6.jpg');
    background-size: 100%;
    background-position-y: 0%;
    color: white;
    
    
    }