
<div class="totalcontent">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Login Form -->
        <form (ngSubmit)="resetPass()" #loginForm="ngForm">
    
          <input type="text" id="login" class="fadeIn second" [(ngModel)]=username name="inputusername" placeholder="username" required pattern="[A-Za-z0-9]{4,15}" #un="ngModel">
          <span class="alert-warning" *ngIf="un.touched && un.invalid">username is invalid</span>

          <input type="text" id="mail" class="fadeIn third" [(ngModel)]=email name="inpputmail" placeholder="email" 
          required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #psw1="ngModel">
          <span class="alert-warning" *ngIf="psw1.touched && psw1.invalid">email is invalid</span>
          <br>
          <input type="password" id="password" class="fadeIn third" [(ngModel)]=pwd name="inpputpassword" placeholder="password ex Abcdef@1" 
          required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" #psw1="ngModel">
          <span class="alert-warning" *ngIf="psw1.touched && psw1.invalid">Password with at least 8 characters long and follow proper pattern</span>
          <br>
          <input type="password" id="password" class="fadeIn third" [(ngModel)]=conpassword name="inpput1password" placeholder="confirm password" 
          required pattern="{{pwd}}" #psw2="ngModel">
          <span class="alert-warning" *ngIf="psw2.touched && psw2.invalid">password must be same</span>
          <br>
          <button type="submit" class="fadeIn fourth" [disabled]="!loginForm.valid">Reset</button>
        </form>
      </div>
    </div>
    </div>