<div class="row">
    <div class="columnimg1">
      <div class="cardimg">
        <img src="../../assets/profile.png" alt="Jane" style="width:100%">
        <div class="containerimg1">
          <p><button class="buttonimg1">Profile</button></p>
        </div>
      </div>
    </div>
  
    <div class="columnimg1">
      <div class="cardimg1">
        <img src="../../assets/buy.png" alt="Mike" style="width:100%">
        <div class="containerimg1">
          <p><button class="buttonimg1">Buy Insurance</button></p>
        </div>
      </div>
    </div>
    
    <div class="columnimg1">
      <div class="cardimg1">
        <img src="../../assets/renew.png" alt="John" style="width:100%">
        <div class="containerimg1">
          <p><button class="buttonimg1">Renew Insurance</button></p>
        </div>
      </div>
    </div>
    <div class="columnimg1">
        <div class="cardimg1">
          <img src="../../assets/claim.png" alt="John" style="width:100%">
          <div class="containerimg1">
            <p><button class="buttonimg1" (click)="claim()">Claim Insurance</button></p>
          </div>
        </div>
      </div>
      <div class="columnimg1">
        <div class="cardimg1">
          <img src="../../assets/history.png" alt="John" style="width:100%">
          <div class="containerimg1">
            <p><button class="buttonimg1" (click)="history()">Claim History</button></p>
          </div>
        </div>
      </div>
  </div>
