 /* Styles for Profile and Home */
 .columnimg1 {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 0px;
}
.containerimg1 {
  padding: 0 0px;
}

.containerimg1::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.buttonimg1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.buttonimg1:hover {
  background-color: #555;
}

.navbar-nav{
  margin-left: 1200px;
}