<div class="edit-form" >
    <div class="child">
        <form (ngSubmit)="updateClaim()" #editForm="ngForm">
            <table class="table-primary table table-bordered">
                <thead><tr><th colspan="2">Claim Details</th></tr>
                </thead>
                <tbody>
                    <tr><td><strong>Set Amount</strong></td>
                        <td><input name="amount" [(ngModel)]=policy.claim.amount required  pattern="[0-9]{4,}" placeholder="ID" #id="ngModel">
                        <span class="alert-warning" *ngIf="id.touched && id.invalid">Amount is invalid</span></td>
                    </tr>
                    <tr>
                        <td><strong>Set Status</strong></td>
                        <td><select name="status" [(ngModel)]=policy.claim.status #stat="ngModel">
                            <option value="Pending" selected>Pending</option>
                            <option value="Approved">Approved</option>
                            <option value="Rejected">Rejected</option>
                        </select>
                            <span class="alert-warning" *ngIf="stat.touched && stat.invalid">Status is invalid</span>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <button class="btn btn-success" type="submit" [disabled]="!editForm.valid">Edit Claim</button>&nbsp;&nbsp;
                            <button class="btn btn-primary" type="submit" (click)="goBack()">Back</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>