
            <div class="totalpage">
                <div class="row print-container">
            
            
                <table style="width:70%" class="table table-bordered table-primary">
                <tr>
                    <th>Claim Date</th>
                    <td>{{claimDate |  date: 'dd/MM/yyyy'}}</td>
                </tr>
                <tr *ngFor="let pol of policies">
                    <th>Claim ID</th>
                    <td>{{pol.claim.claimId}}</td>
                </tr>
                <tr>
                    <th>Account Number</th>
                    <td>{{accountNumber}}</td>
                </tr>
                <tr>
                    <th>Claim Amount</th>
                    <td>{{claimAmount|currency:'INR':'symbol':'1.2-2'}}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{status}}</td>
                </tr>
                <tr>
                    <th colspan="2"><button onclick="window.print();" class="btn-primary" type=text>Print</button>&nbsp;           <button (click)="exit()">Exit</button></th>
                </tr>
                </table>
                </div>
                    
                </div>
            
            