<div class="container my-5">
  
    <h3>Policy Renewal Page</h3>
    
      
      
    <hr>
    
      <div class="card bg-light">
    <form class="card-body" novalidate="" action="" method="" id="bootstrapForm">
      
        <div class="form-group">
            <label class="h4 form-control-label" for="input1">Policy No.<abbr class="text-danger" title="This is required">*</abbr></label>
            <input type="text" class="form-control" name="i1" id="input1" required>
            <div class="valid-feedback">looks good</div>
            <div class="invalid-feedback">Please enter your Policy no.. This field is required</div>
        </div>
      
      
        <div class="form-group">
            <label class="h4 form-control-label" for="input1">Mobile no.<abbr class="text-danger" title="This is required">*</abbr></label>
            <input type="tel" placeholder="123-456-7890"
               pattern="[1-9]{10}" class="form-control" name="i1" id="input1" required>
            <div class="valid-feedback">Mobile no. # looks good</div>
            <div class="invalid-feedback">Please enter a Mobile no. # like 123-456-7890. This field is required.</div>
        </div>
      
        <div class="form-group">
            <label class="h4 form-control-label" for="input3">Email Id<abbr class="text-danger" title="This is required">*</abbr></label>
            <input type="email" value="" placeholder="name@gmail.com"  class="form-control" name="i3" id="input3" required>
            <div class="valid-feedback">Email Id looks good.</div>
            <div class="invalid-feedback">Please enter valid Email Id. This field is required.</div>
        </div>
    
      
      
        <div>
            <button type="submit"class= "btn btn-primary active">Pay Renewal</button>
        </div>  
      
    </form>
