<div class="row">
    <div class="main">
        <div class="card">
            <p>
                Motor insurance is just like any other insurance policy, but unlike other insurances, 
                it is ‘Mandatory'! And, as the name suggests, 
                it is an insurance that is related to all types of motor vehicles-motorcycles, cars, jeeps, 
                commercial vehicles etc.
            </p>
            <p>
                Motor insurance has been made mandatory by the government for your safety and the safety of others. 
                And the yearly premium you pay is just a meagre sum when compared to the advantages it has to offer you in case of,
                god forbid, any mishap.
            </p>
        </div>
        <h1 style="text-align: center">Motor Insurance</h1>
        <div class="row">
            <div class="columnimg1">
              <div class="cardimg">
                <img src="../../assets/car-insurance1.png" alt="Jane" style="width:100%">
                <div class="containerimg1">
                    <p>Private Car Motor Insurance Policy</p>
                </div>
              </div>
            </div>
          
            <div class="columnimg1">
              <div class="cardimg1">
                <img src="../../assets/bike-insurance1.png" alt="Mike" style="width:100%">
                <div class="containerimg1">
                    <p>Two-Wheeler Insurance Policy</p>
                </div>
              </div>
            </div>
            
            <div class="columnimg1">
              <div class="cardimg1">
                <img src="../../assets/car-quarter-circle-chart1.png" alt="John" style="width:100%">
                <div class="containerimg1">
                    <p>Third Party Policy</p>
                </div>
              </div>
            </div>
            <div class="columnimg1">
                <div class="cardimg1">
                  <img src="../../assets/car-full-circle-chart1.png" alt="John" style="width:100%">
                  <div class="containerimg1">
                    <p>Comprehensive Policy</p>
                  </div>
                </div>
              </div>
              <div class="columnimg1">
                <div class="cardimg1">
                  <img src="../../assets/calculate.png" alt="John" style="width:100%">
                  <div class="containerimg1">
                    <p><button class="btn btn-primary" (click)="calc()">Calculate Insurance</button></p>
                  </div>
                </div>
              </div>
          </div>        
    </div> 
</div>
