<div class="row">
    <div class="main">
        <div class="card">
            <p>
                Motor insurance is just like any other insurance policy, but unlike other insurances, 
                it is ‘Mandatory'! And, as the name suggests, 
                it is an insurance that is related to all types of motor vehicles-motorcycles, cars, jeeps, 
                commercial vehicles etc.
            </p>
            <p>
                Motor insurance has been made mandatory by the government for your safety and the safety of others. 
                And the yearly premium you pay is just a meagre sum when compared to the advantages it has to offer you in case of,
                god forbid, any mishap.
            </p>
        </div>
        <div class="card">
          <h1 style="text-align: center">Motor Insurance</h1>
          <div class="cj">
                <img src="../../assets/car-insurance1.png">
                <p>Private Car Motor Insurance Policy</p>
           </div>
          <div class="cj">
                <img src="../../assets/bike-insurance1.png">
                <p>Two-Wheeler Insurance Policy</p>
            </div>
          <div class="cj">
              <img src="../../assets/car-quarter-circle-chart1.png">
              <p>Third Party Policy</p>
           </div>
          <div class="cj">
              <img src="../../assets/car-full-circle-chart1.png">
              <p>Comprehensive Policy</p>
            </div>
            <div class="calculate">
              <img src="../../assets/calculate.png">
              <br>
              <button  class="btn btn-primary" (click)="calc()">Calculate Insurance!</button>
            </div>
        </div>
    </div> 
</div>

