    <h3>Claim Insurance</h3>
    <div class="sai">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h4 style="text-align: center; padding-top: 20px;"><u>Step 1</u></h4>
    <form (ngSubmit)="proceedNext()" #addForm="ngForm">   
        <div class='form-group'>
            <label for="policyNo"><strong>Policy No.</strong></label>
            <input class="form-control" name="policyNo" [(ngModel)]=claimins.policyNo
            required  placeholder="Enter Your Policy Number" #policyNo='ngModel'>
            <span *ngIf="policyNo.touched && policyNo.invalid" class="alert-danger">Invalid Policy Number</span>
        </div>
    
        <div class='form-group'>
            <label for="vehicleno"><strong>Vehicle No.</strong></label>
            <input class="form-control" name="vehicleno" [(ngModel)]=vehicleno
            required pattern="[A-Z0-9]{4,}" placeholder="Enter Your Vehicle Number" #vehiclen='ngModel'>
            <span *ngIf="vehiclen.touched && vehiclen.invalid" class="alert-danger">Invalid Vehicle Number</span>
        </div>
    

        <div class="form-group">
            <label for="amount"><b>Claim Amount</b></label>
            <input class="form-control" name="amount" [(ngModel)]=amount
            required pattern="[0-9]{3,}" placeholder="Enter Claim Amount" #amount1='ngModel'>
            <span *ngIf="amount1.touched && amount1.invalid" class="alert-danger">Invalid Amount</span>
        </div>

        <div class="form-group">
            <label for="reason"><b>Reason to Claim Insurance</b></label>
            <select  class="form-control" name= "reason" [(ngModel)]=reason required #reason1='ngModel'>
                <option [value]="claimreason" selected>Reason to Claim Insurance</option>
                <option value="Natural Disaster">Natural Disaster</option>
                <option value="Man-Made Disaster">Man-Made Disaster</option>
                <option value="Road Accident">Road Accident</option>
                <option value="Theft">Theft</option>
            </select>
            <span *ngIf="reason1.touched && reason1.invalid" class="alert-danger">Select Reason</span>
        </div>

        
        <div class="col-md-12 text-center" style="padding-top: 18px; padding-bottom: 30px; ">
        <button class="btn btn-primary btn-block btn-success" type="submit" [disabled]="!addForm.valid" >Proceed Next</button></div>
    </form>

    </div>
    </div>
    </div>
    </div>