<div class="col-md-4 col-md-offset-4" id="login">
  <section id="inner-wrapper" class="login">
    <article>
      <form (ngSubmit)="registerUser()" #registerForm="ngForm">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]=user.username placeholder="Username" required pattern="[A-Za-z0-9]{4,8}" #un1="ngModel" [ngModelOptions] = "{standalone: true}">
            <span class="alert-warning" *ngIf="un1.touched && un1.invalid">username is invalid</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]=user.name placeholder="Name" required pattern="[A-Za-z ]{4,}" #n1="ngModel" [ngModelOptions] = "{standalone: true}">
            <span class="alert-warning" *ngIf="n1.touched && n1.invalid">name is invalid</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="email" class="form-control" [(ngModel)]=user.email placeholder="Email Address" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #em="ngModel" [ngModelOptions] = "{standalone: true}">
            <span class="alert-warning" *ngIf="em.touched && em.invalid">Email is invalid</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="date" class="form-control" [(ngModel)]=user.dob [ngModelOptions] = "{standalone: true}">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]=user.mobile placeholder="Contact Number" required pattern="[0-9]{10}" #mb="ngModel" [ngModelOptions] = "{standalone: true}">
            <span class="alert-warning" *ngIf="mb.touched && mb.invalid">Contact no is invalid</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]=user.address  placeholder="Address" required pattern="[A-Za-z0-9 ,-]{10,}" #ad="ngModel" [ngModelOptions] = "{standalone: true}">
            <span class="alert-warning" *ngIf="ad.touched && ad.invalid">Address is invalid</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="password" class="form-control" [(ngModel)]=user.password placeholder="Password (Should be 8 charcters long)" required pattern="[A-Za-z0-9]{8}" #ps="ngModel" [ngModelOptions] = "{standalone: true}">
            <span class="alert-warning" *ngIf="ps.touched && ps.invalid">Password is invalid</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="password" class="form-control" [(ngModel)]=conpassword placeholder="Confirm Password (Should be 8 charcters long)" required pattern="{{user.password}}" #conps="ngModel" [ngModelOptions] = "{standalone: true}">
            <span class="alert-warning" *ngIf="conps.touched && conps.invalid">Password should be same</span>
          </div>
        </div>
          <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
      </form>
    </article>
  </section></div>