
.planBox{
    margin-left: 5%;
    margin-bottom: 10%;
    font-size: 23px;
    color: rgb(12, 11, 11);
}
.termBox{
    margin-left: 5%;   
    font-size: 23px;
    color: rgb(12, 11, 11);
}
.card-title{
    margin-left: 10%;
    color: rgb(12, 11, 11);
}
