<div class="header">
    <h1>CHOOSE POLICY PLANS</h1>    
</div>

<div class="planBox">
    <b><label for="plan" style="font-size: 35px;">Choose plan</label></b>&nbsp;
    <select name="plan" [(ngModel)]=p.plan #plan='ngModel'>
        <option *ngFor = 'let pl of plans' [value]="pl">{{pl}} </option>
    </select>
</div> 

<div class="termBox">
    <b><label for="term" style="font-size: 35px;">Choose year</label></b>&nbsp;
    <select name="term" [(ngModel)]=p.term #term='ngModel'>
        <option *ngFor = 'let y of years' [value]="y">{{y}} year</option>
    </select>
</div> 
<br>

<!--<div class="planBox"> 
    <label for="plan" style="font-size: 35px;"><b>Choose your  plan</b></label>
    <br><br>
    
    <button class="pl" (click)="thirdParty()" >Third party liability</button> &nbsp;
    <button class="pl" (click)="comprehensive()">Comprehensive</button>
    
</div>-->

<br>
<button type="button" class="btn btn-warning" style="margin: 5% 30% 5% 43%; font-size: 30px;" 
(click)="quote()"> SHOW QUOTE </button> 

<button type="button" class="btn btn-success" style="margin: 2% 30% 5% 40%; font-size: 30px;"
(click)="pay()">PROCEED FOR PAYMENT</button>