

<div class="card" style="max-width: 100%;">
    <div class="row no-gutters">
        <div class="col-sm-6" style="background: #868e96; ">
            <img src="../../assets/images/plan.jpg" class="card-img-top h-100" >
        </div>
        <div class="col-sm-5">
            <div class="card-body">
                <h2 class="card-title">CHOOSE POLICY PLANS</h2>
                
                
                <br>
                <br>
                <div class="planBox">
                    <label for="plan">Choose plan</label>&nbsp;
                    <select name="plan" [(ngModel)]=p.type #plan='ngModel'>
                        <option *ngFor = 'let pl of plans' [value]="pl">{{pl}} policy</option>
                    </select>
                </div> 
                
                <div class="termBox">
                    <label for="term">Choose year</label>&nbsp;
                    <select name="term" [(ngModel)]=p.term #year='ngModel'>
                        <option *ngFor = 'let y of years' [value]="y">{{y}} year</option>
                    </select>
                </div> 

                <div class="ageBox">
                    <label for="age">Vehicle Age</label>&nbsp;
                    <select name="age" [(ngModel)]= age #ag='ngModel'>
                        
						<option value="6 months">Less than 6 months</option>
						<option value="one year">One Year</option>
						<option value="two years">Two Years</option>
					    <option value="three years">Three Years</option>
						<option value="more than 5">More than 5 Years</option>
                    </select>
                </div> 
                <br>
                

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning" data-toggle="modal" 
                    data-target="#exampleModal" (click)="quote()" 
                    style="margin-left: 33%;margin-top: 3%;font: 1rem;" 
                    [disabled]="!plan.touched && !year.touched && !ag.touched">
                            SHOW QUOTE
                </button>
  
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" 
                    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="background-color:teal;">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="color: white;">
                                Price Details</h5>
                            <button type="button" class="close" data-dismiss="modal" 
                            aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        <div class="modal-body">
                            <div style="align-content:center; color: white;">
                                <br>
                                <label style="padding-top: 10px; font-size: 20px; "><b>Total Price: {{Amount|currency:'INR':'symbol':'1.2-2'}}</b></label>
                                <br>
                                <label style="padding-top: 10px; font-size: 20px;"><b>Amount to be paid monthly: {{monthlyAmount|currency:'INR':'symbol':'1.2-2'}}</b></label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light btn-lg" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                </div>

                    

                <button type="button" class="btn btn-success" style="margin-left: 34%;margin-top: 7%;font: 1rem;"
                    (click)="pay()" [disabled]="!plan.touched && !year.touched&& !ag.touched">MAKE PAYMENT</button>
            </div>
        </div>
    </div>
</div>



   