

<div class="card" style="max-width: 100%;">
    <div class="row no-gutters">
        <div class="col-sm-6" style="background: #868e96; ">
            <img src="../../assets/images/plan.jpg" class="card-img-top h-100" style="opacity: 0.8;">
        </div>
        <div class="col-sm-5">
            <div class="card-body">
                <h2 class="card-title">CHOOSE POLICY PLANS</h2>
                
                
                <br>
                <br>
                <div class="planBox">
                    <label for="plan">Choose plan</label>&nbsp;
                    <select name="plan" [(ngModel)]=p.type #plan='ngModel'>
                        <option *ngFor = 'let pl of plans' [value]="pl">{{pl}} </option>
                    </select>
                </div> 
                
                <div class="termBox">
                    <label for="term">Choose year</label>&nbsp;
                    <select name="term" [(ngModel)]=p.term #year='ngModel'>
                        <option *ngFor = 'let y of years' [value]="y">{{y}} year</option>
                    </select>
                </div> 
                <br>
                
                
                <br>
                
                
                <!--<button type="button" class="btn btn-warning" (click)="quote()"
                    style="margin-left: 34%;"><b>SHOW QUOTE</b></button>-->
                
                <button type="button" class="btn btn-success" style="margin-left: 34%;margin-top: 5%;"
                    (click)="pay()" [disabled]="!plan.touched && !year.touched">MAKE PAYMENT</button>
            </div>
        </div>
    </div>
</div>



   