<h4>Claim History</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Claim No.</th>
            <th>Policy No.</th>
            <th>Date</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let history of list;let i=index">
            <td>{{ history.claimno}}</td>
            <td>{{ history.policyno}}</td>
            <td>{{date|date:"dd.MM.yyyy"}}</td>
            <td>{{history.claimamount}}</td>
            
                
        </tr>
        <!-- <td><button class="btn btn-success" (click)="sortByDate()">DateSort</button></td> -->
        
        </tbody>
</table>